@model Note.Core.Entities.Book

@{
    ViewData["Title"] = Model.Title;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<h1>@Model.Title</h1>

<section>
    Created @Model.CreatedAt.ToShortDateString() by @Model.Owner.FullName |
    @if (Model.UpdatedAt.HasValue)
    {
        <text>Updated @Model.UpdatedAt.Value.ToShortDateString() | </text>
    }
    @if(Auth.CanWrite(Model))
    {
        <span>
            <a class="ajax-modal-form-trigger" data-url="@Url.Action("Edit", "ManageBooks", new { id = Model.Id })" data-title="Edit book">Edit</a> | 
            <a class="ajax-modal-form-trigger" data-url="@Url.Action("Delete", "ManageBooks", new { id = Model.Id })" data-title="Delete book">Delete</a>
        </span>
    }
</section>

<h2>Pages</h2>

<section>
    <ul>
        @if (Auth.CanWrite(Model))
        {
            <li><a class="ajax-modal-form-trigger" data-url="@Url.Action("Create", "ManagePages", new { bookId = Model.Id })" data-title="New page">New...</a></li>
        }
        @foreach (var p in Model.Pages)
        {
            <li><a asp-controller="Notes" asp-action="Page" asp-route-bookSlug="@Model.Slug" asp-route-pageSlug="@p.Slug">@p.Title</a></li>
        }
    </ul>
</section>
