@model Note.Core.Entities.Page

@{
    ViewData["Title"] = Model.Title;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Book" asp-route-bookSlug="@Model.Book.Slug">@Model.Book.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<h1>@Model.Title</h1>

<section>
    Created @Model.CreatedAt.ToShortDateString() by @Model.Owner.FullName |
    @if (Model.UpdatedAt.HasValue)
    {
        <text>Updated @Model.UpdatedAt.Value.ToShortDateString() | </text>
    }
    <a data-toggle="modal" data-target="#editPageModal">Edit</a> |
    <a data-toggle="modal" data-target="#deletePageModal">Delete</a>
</section>

<!-- Edit page modal -->
<div class="modal fade" id="editPageModal" tabindex="-1" role="dialog" aria-labelledby="editPageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editPageModalLabel">Edit book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <partial name="_PageForm" model="@new PageFormViewModel(Model);" />
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" form="pageForm">Save changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Delete page modal -->
<div class="modal fade" id="deletePageModal" tabindex="-1" role="dialog" aria-labelledby="deletePageModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePageModalLabel">Edit book</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="post" asp-controller="Pages" asp-action="Delete" asp-route-id="@Model.Id" id="deletePageForm">
                    <div class="alert alert-danger" role="alert">
                        Do you really want to delete this page?
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-danger" form="deletePageForm">Delete page</button>
            </div>
        </div>
    </div>
</div>
