@model Note.Core.Entities.Page
@using Markdig

@{
    ViewData["Title"] = Model.Title;
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Index">Notes</a></li>
        <li class="breadcrumb-item"><a asp-controller="Notes" asp-action="Book" asp-route-bookSlug="@Model.Book.Slug">@Model.Book.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">@Model.Title</li>
    </ol>
</nav>

<h1>@Model.Title</h1>

<partial name="_DisplayTempDataErrorsPartial" />

<section>
    Created @Model.CreatedAt.ToShortDateString() by @Model.Owner.FullName |
    @if (Model.UpdatedAt.HasValue)
    {
        <text>Updated @Model.UpdatedAt.Value.ToShortDateString() | </text>
    }
    @if (Auth.CanWrite(Model.Book))
    {
        <span>
            <a class="ajax-modal-form-trigger" data-url="@Url.Action("Edit", "ManagePages", new { id = Model.Id })" data-title="Edit page">Edit</a> | 
            <a class="ajax-modal-form-trigger" data-url="@Url.Action("Delete", "ManagePages", new { id = Model.Id })" data-title="Delete page">Delete</a> | 
            <a class="ajax-modal-form-trigger" data-url="@Url.Action("Write", "ManagePages", new { id = Model.Id })" data-title="Write page" data-modal-size="modal-xl">Write</a>
        </span>
    }
</section>

<main>
    @if (!string.IsNullOrEmpty(Model.Content))
    {
        <text>@Html.Raw(Markdown.ToHtml(Model.Content))</text>
    }
</main>
