@model Note.Core.Entities.Page

@{
    ViewData["Title"] = "Delete";
}

<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
        <li class="breadcrumb-item"><a asp-controller="Books" asp-action="Index">Books</a></li>
        <li class="breadcrumb-item"><a asp-controller="Books" asp-action="Details" asp-route-id="@Model.Book.Id">@Model.Book.Title</a></li>
        <li class="breadcrumb-item"><a asp-controller="Pages" asp-action="Details" asp-route-bookId="@Model.Id" asp-route-id="@Model.Id">@Model.Title</a></li>
        <li class="breadcrumb-item active" aria-current="page">Delete</li>
    </ol>
</nav>


<h1>Delete page <em>@Model.Title</em></h1>

Created @Model.CreatedAt.ToShortDateString() by @Model.Owner.FullName
@if (Model.UpdatedAt.HasValue)
{
    <text> | Updated @Model.UpdatedAt.Value.ToShortDateString() </text>
}

<form method="post" asp-controller="Pages" asp-action="Delete" asp-route-bookId="@Model.Book.Id" asp-route-id="@Model.Id">
    <input type="submit" class="btn btn-danger" value="Confirm" />
</form>
