@model Note.MVCWebApp.Models.PageFormViewModel

<form method="post" asp-controller="ManagePages" asp-action="@Model.FormAction" asp-route-id="@Model.FormRouteId" id="pageForm">
    <input type="hidden" asp-for="@Model.BookId" />
    <div class="form-group">
        <label asp-for="@Model.Title">Title</label>
        <input asp-for="@Model.Title" class="form-control" />
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Title)</span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Slug">Slug</label>
        <input asp-for="@Model.Slug" class="form-control" />
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Slug)</span>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Description">Description</label>
        <textarea asp-for="@Model.Description" class="form-control"></textarea>
    </div>
    <div class="form-group">
        <label asp-for="@Model.Type">Type</label>
        <select asp-for="@Model.Type" asp-items="Html.GetEnumSelectList<Note.Core.Enums.PageType>()" class="form-control"></select>
        <span class="text-danger">@Html.ValidationMessageFor(model => model.Slug)</span>
    </div>
    <div class="form-group">
        <div class="custom-control custom-checkbox">
            <input asp-for="@Model.Published" type="checkbox" class="custom-control-input">
            <label asp-for="@Model.Published" class="custom-control-label">Published</label>
        </div>
    </div>
</form>

